# Registration service
ADMIN_USERNAME=adminuser
ADMIN_PASSWORD=adminpassword

# Kuno service
JWT_SECRET=# openssl rand -hex 32

BASE_DATA_PATH=./data

KUNO_PORT=80
KUNO_SERVER_ADDRESS=blog.example.com